.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-family: Montez, serif;
  font-size: 2em;
  color: blue;
}

.sub-heading {
  font-family: serif;
  font-size: 1em;
}

.entry-point {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .modal-sm {
    width: 380px; /* New width for small modal */
  }
}

.btn-width {
  width: 100%;
}

.custom-footer {
  text-align: center;
}
