* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 12px;
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.custom-btn {
  margin-right: 15px;
}
