* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: yellow; */
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: red; */
  width: 90%;
}

.post-heading {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  width: 100%;
}

.post-user {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.username {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.post-btn {
  color: white;
  background-color: #e60073;
  border: none;
  padding: 10px;
}

.post-details-para {
  font-size: 13px;
  font-family: serif;
  font-weight: 600;
}

.editable-border {
  border: 2px solid pink;
}

.postLike {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

#likeBlog {
  margin-bottom: 10px;
}

.postComment {
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

#userComments {
  margin-bottom: 10px;
}

.commentEvent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.visible {
  background-color: grey;
  width: 77%;
  padding: 1.5%;
}

.hide {
  display: none;
}

.comment-para {
  width: 100%;
  background-color: white;
  font-family: monospace;
  padding: 1.4%;
}
